<div class="gatos">
<ngx-glide [autoplay]="3500" [animationTimingFunc]="'cubic-bezier(0.680, -0.550, 0.265, 1.550)' "[arrowRightLabel]="'►'"

           [showArrows]="true" [arrowLeftTemplate]="arrowLeftTemplate"
>
  <div><img src="https://avivharuzi.github.io/ngx-glide/assets/images/backdrops/08.jpeg" alt="" ></div>
  <div><img src="https://avivharuzi.github.io/ngx-glide/assets/images/backdrops/09.jpeg" alt="" ></div>
  <div><img src="https://avivharuzi.github.io/ngx-glide/assets/images/backdrops/04.jpeg" alt="" ></div>
</ngx-glide>
</div>


<ng-template #arrowLeftTemplate>
  <div class="custom-arrow custom-arrow-left">
    <button >👈 CUSTOM LEFT</button>
  </div>
</ng-template>
