<div class="cabecera flex flex-row">
  <div class="logo  w-1/4 flex justify-center ">
    <img src="assets/LOGO.png" alt="logoDistempaq">
  </div>
  <div class="menu w-3/4 flex flex-col">
    <div class="top h-1/2  flex flex-row justify-center  ">
      <div class="input w-2/4 flex ">
        <div class="pseudo-search flex flex">
          <input type="text" placeholder="BUSCAR PRODUCTO" autofocus required>
          <button class="fa fa-search" type="submit"></button>
        </div>
      </div>
      <div class="icono w-1/4 flex justify-center">
        <div class="ii flex">
      <span class="cli1">
       <i class="fas fa-clipboard-list "></i><a  href="#">   Cotizador</a>
        <div class="line " ></div>
      </span>
        </div>
      </div>
      <div class="redes flex ">
        <a href=""> <i class="fab fa-facebook"></i> Siguenos en facebook</a>
      </div>

    </div>
    <div class="bottom h-1/2  flex flex-row ">
      <ul class="flex flex-row gap-16">
        <li class="desplegar2"><a class="bott" href="#">TAPAS <i class="fas fa-angle-down"></i></a>
          <div class="line " ></div>
          <div class="sub-menu2">
            <div class="menu2">
              <div><a>TAPAS PLASTICAS</a></div>
              <div><a>TAPAS PILFER</a></div>
            </div>
          </div>
        </li>
        <li class="desplegar3"><a class="bott"  href="#">CORCHOS <i class="fas fa-angle-down"></i></a>
          <div class="line " ></div>
          <div class="sub-menu3">
            <div class="menu3">
              <div><a>LAVADOS</a></div>
              <div><a>SIN LAVAR</a></div>
              <div><a>CAPSULAS</a></div>
            </div>
          </div>
        </li>
        <li class="cli1" ><a href="">CLIENTES</a>
          <div class="line " ></div>
        </li>
        <li class="cli1" ><a href="">CONTACTOS</a>
          <div class="line " ></div>
        </li>
      </ul>
    </div>
  </div>
</div>
